Flask
requests
polyline
python-dotenv
numpy<2
opencv-python-headless
gunicorn
twilio

--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.1.2
torchvision>=0.16.2

ultralytics
openvino>=2024.0.0
