body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.navbar{
display:flex;
gap:10px;
padding:15px;
background:#1e293b;
align-items:center;
}

.navbar a{
color:#8fd0ff;
text-decoration:none;
font-weight:bold;
}

.navbar input{
padding:6px;
border-radius:6px;
border:none;
}

button{
background:#2563eb;
color:white;
border:none;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

#map{
height:85vh;
width:100%;
}

#summaryBar{
padding:10px;
background:#111827;
text-align:center;
font-weight:bold;
}