<!DOCTYPE html>
<html>
<head>

<title>Hazard Detection</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

<a href="/">Routes</a>
<a href="/hazard">Hazard Detection</a>
<a href="/dashboard">Dashboard</a>

</div>

<h2 style="padding:20px">Upload Road Image</h2>

<form action="/detect" method="post" enctype="multipart/form-data" style="padding:20px">

<input type="file" name="image">

<button type="submit">Detect Hazard</button>

</form>

</body>
</html>